<footer>
    <div class="first">
        <div class="container text-center">
            <p>
                <a href="/downloads">Downloads</a> |
                <a href="/faq">FAQ</a> |
                <a href="/contact">Contact Us</a> |
                <a href="http://www.mbboatowners.com/" target="_blank" >Community</a> |
                <a href="/events">Events</a>
            </p>
            <p>
                <a target="_blank" href="{{ site.author.facebook }}"><i class="fa fa-facebook-official fa-2x" style="color:#3B5998 "></i></a>
                <a target="_blank" href="{{ site.author.youtube }}"><i class="fa fa-youtube-play fa-2x" style="color:#b31217"></i></a>
                <a target="_blank" href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter-square fa-2x" style="color:#55acee"></i></a>
            </p>
        </div>
    </div>
    <div class="second text-center">
          Copyright &copy; 2015 MB Sports. All rights reserved.
    </div>
</footer>
